extends layout

block content
  section(class="box")
    h1 Welcome to #{title}
    img(src="")
    h2 Sign up
    form(method="POST")
      input(type="text"  ID="userMail" required autofocus placeholder="enter your email" class="entry")
      input(type="text"  ID="userName" required autofocus placeholder="enter name" class="entry")
      input(type="text"  ID="userFirstName" required autofocus placeholder="enter your first name" class="entry")
      article(class="password-container")
        input(type="password" minlength="8" ID="pwd" required autofocus placeholder="enter yout password" id="pwd" class="entry")
        button(type="button" id="togglePassword" class="toggle-button") i
      article(class="password-container")
        input(type="password" minlength="8" ID="pwd2" required autofocus placeholder="retipe your password" id="pwd2" class="entry")
        button(type="button" id="togglePassword2" class="toggle-button") i
      button(Id = "signUp" type="button" class="btn") sign Up

      section(class="button")
        button(Id = "signIn" type="button" class="btn") sign in
        
  script(type = 'module' src='/javascripts/signup.js')