extends layout

block content

    #acountPopup.popup
        .popup-content

        form(action="/home/update/"+uuid, method="POST")
            .form-group
                input#username(type="text" name="username" required value=""+name)
  
            .form-group
                input#email(type="email" name="email" required value=""+email)
  
            .form-group
                label(for="newpassword") New password:
                input#password(type="password" name="newpassword")
  
            .form-group
                label(for="confirm_newpassword") Confirm new password:
                input#confirm-password(type="password" name="confirm_newpassword")

            .form-group
                label(for="password") Password:
                input#password(type="password" name="password" required)
            
            button(type="submit") Update
        
        form(action="/home/delete/" + uuid, method="POST")
            .form-group
                label(for="password") Password:
                input#password(type="password" name="password" required)
            button(type="submit") Delete
            
        button#closeAcount Close
    
    form(action="/home/create_identity/"+uuid, method="POST")
        p Identity informations :
        .form-group
            label(for="username") username :
            input#username(type="text" name="username" required)
  
        .form-group
            label(for="email") email :
            input#email(type="email" name="email" required)
  
        .form-group
            label(for="password") Password :
            input#password(type="password" name="password")

        button(type="submit") Create Identity
    
    for identity in identitys
        .identity-group
            p name : #{identity.name}, email : #{identity.email}
            form(action="/home/delete_identity/"+uuid+"/"+identity.uuid, method="POST") 
                button(type="submit") Delete

    script(src="/javascripts/home.js")