extends layout

block content
  .container
    h1 Reports List
    .create-report
      form(action="/reports_list/create_report/"+uuid+"/"+identity_uuid, method="POST")
        button.create-btn(type="submit") Create New Report
    
    .report-list
      for report in reports
        .report-group
          a.report-link(href="/report/"+uuid+"/"+identity_uuid+"/"+report.uuid, target="_blank")
            span.report-danger Report date: #{report.date}
          form.delete-report-form(action="/reports_list/delete_report/"+uuid+"/"+identity_uuid+"/"+report.uuid, method="POST") 
            button.delete-btn(type="submit") Delete
